.flex-2 {
    flex: 2;
}
.chat-container {
    max-width: 800px;
}

.message-send, .message-received {
    border-radius: 22px;
    padding: 16px;
}
.message-send {
    background-color: gray;
}
.message-received {
    border: 1px solid gray;
}
.message-input-container {
    border-radius: 20px;
    padding: 10px;
}